@media screen and (min-device-width:1360px){
    .block_content_main_page{
        margin-top: 12%;
    }
}
@media (max-width:1200px){
    .block_content_main_page{
        width: 50%;
    }
    .main_header{
        font-size: 2.5em;
    }
}
@media(max-width:1150px){
    .more_info{
        text-align: left;
    }
    .more_info .content_more_info{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
    }
    .item_list_more_info{
        white-space: inherit;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
    }
    .more_info .content{
        margin-left: 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
    }
    .button_more_info{
        margin-left: 2.1em;
    }
    .simbol{
        margin-left: 0;
        margin-right: 15px;
    }
}
@media(max-width: 1000px){
    .header{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding: 0 1em;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .nav_panel_main_page{
        position: relative;
        right: 0;
    }
}
@media (max-width:950px){
    .container_main_page{
        padding-bottom: 2.5em;
    }
    .user_profile_name,
    .get_popular{
        float: none;
        width: 100%;
        margin: auto;
    }
    .get_popular{
        margin-top: 2em;
    }
    .pointer_right{
        margin-left: 20%;
    }
    .main_header{
        font-size: 2.2em;
    }
}
@media(max-width:800px){
    .container_main_page{
        background-image: url(../../img/main_page/bg_main_page_small_device.png);
    }
    .block_content_main_page{
        width: 95%;
    }
    .item_list_more_info{
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .header{
        padding: 10px 0 0 0;
        width: 95%;
        margin: auto;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .container_list_language{
        position: relative !important;
        right: 0 !important;
    }
    .container_logo{
        margin: 0 !important;
    }
}
@media (max-width:440px){
    .svg_logo{
        width: 2em !important;
    }
    .header_sharkgram{
        font-size: 2em !important;
    }
}
@media screen and (max-device-width:480px){
    .svg_logo{
        width: 2.47em !important;
    }
    .header_sharkgram{
        font-size: 2.66em !important;
    }
    .container_list_language{
        margin-top: 0 !important;
    }
    .container_main_page{
        height: auto;
        padding-bottom: 3em;
        min-height: 100%;
    }
    .main_header{
        text-shadow: 1px 1px 6px grey;
        font-size: 2.2em;
    }
    .block_content_main_page{
        width: 90%;
        margin: auto;
    }
    .img_main_page{
        height: 100%;
    }
    .block_content_main_page .form_user__profile_name{
        margin-top: 0;
    }
    .get_popular,
    .user_profile_name{
        float: none !important;
        width: 100% !important;
    }
    .get_pular{
        margin-top: 2em;
    }
    .main_header .content_main_header{
        margin-top: 10px;
    }
    .container_logo{
        margin-top: 25px;
    }
    .list_more_info{
        text-align: left;
    }
    .item_list_more_info{
        white-space: inherit;
    }
    .simbol{
        width: 1.5em;
        height: 1.5em;
    }
    .header{
        width: 90%;
    }
    .header .open_close_list_language{
        margin: 0;
        padding-right: 0;
    }
}