<div class="container_payment_method" (click)="closePayNow($event)">
    <div class="payment_method">
        <div class="close_block_payment_method">
            <span class="closeBlock" (click)="closePayNow($event)">✕</span>
        </div>
        <p class="header_block_payment_method">
            {{dataServiceLanguage.GetText('ChooseTheMethodOfPayment')}}
        </p>
        <div class="container_payment_element">
            <componentProcessForPayment [item]="item" *ngFor="let item of listPayMethod">

            </componentProcessForPayment>
        </div>
    </div>
</div>