@media(max-width:1000px){
    .payment_card,
    .payment_cash{
        width: 50%;
    }
}
@media(max-width:860px){
    .payment_method{
        position: relative;
        width: 90%;
        height: 100%;
        margin: auto;
        left: 0;
        top: 0;
    }
    .container_payment_element{
        display: block;
    }
    .payment_card,
    .payment_cash{
        width: 100%;
        display: block;
    }
    .container_btn_submit{
        position: relative;
    }
    .payment_card .content{
        margin-top: 50px !important;
    }
    .submit_pay_now{
        width: 60%;
    }
    .container_btn_submit{
        padding-top: 50px;
    }
    .header_block_payment_method{
        margin: 10px;
    }
}
@media screen and (max-device-width:480px){
    .payment_method{
        width: 100%;
        top: 0;
        left: 0;
        overflow-x: hidden;
    }
    .header_block_payment_method{
        font-size: 1.2em;
        margin-top: 2em;
    }
    .payment_card,
    .payment_cash{
        float: none;
        width: 90%;
        margin: auto;
        padding-top: 2.3em;
    }
    .payment_method .content{
        margin-top: 2em;
        width: 80%;
    }
    .submit_pay_now{
        width: 80%;
    }
    .close_block_payment_method:before{
        font-size: 2.5em;
    }
    .close_block_payment_method{
        margin-top: 0.5em;
    }
}