@import '../reset.css';
@import '../defoult_classes.css';

::-webkit-input-placeholder { color: rgb(255, 255, 255); }
::-moz-placeholder          { color: rgb(255, 255, 255); }
:-moz-placeholder           { color: rgb(255, 255, 255); }
:-ms-input-placeholder      { color: rgb(255, 255, 255); }

.container_form{
    text-align: center;
    min-height: 650px;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.form_support{
    display: inline-block;
    width: 690px;
}
.container_user_info,
.user_contact{
    width: 100%;
}
.user_mesage,
.user_email,
.first_name,
.last_name{
    width: 100%;
    display: inline-block;
    border: none;
    color: rgb(255,255,255);
    padding: 12px 25px;
    font-size: 1em;
    font-family: 'MuseoSansCyrl_1', sans-serif;
    border-bottom: 1px solid rgb(255,255,255);
    background-color: transparent;
}
.user_email{
    width: 100%;
}
.user_mesage{
    resize: none;
}
.submit_user_info{
    background-color: rgb(37,197,204);
}
.form_support .get_popular{
    float: none;
    width: 80%;
    display: block;
    margin: auto;;
}
.user_mesage:focus,
.user_email:focus,
.first_name:focus,
.last_name:focus{
    outline: none;
    border-bottom: 1px solid rgb(255,255,255);
    background-color :rgba(0, 0, 0, 0.05);
}