.container_page_support{
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url('../../img/main_page/bg_main_page.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    padding-bottom: 2em;
}
.container_page_support .container_nav_panel{
    background-color: transparent;
    z-index: 2;
    border-bottom:  0px;
}
.container_form{
    text-align: center;
    min-height: 650px;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.form_support{
    display: inline-block;
    width: 690px;
}
.container_user_info,
.user_contact{
    width: 100%;
}
.user_mesage,
.user_email,
.user_name{
    width: 100%;
    display: inline-block;
    border: none;
    color: rgb(255,255,255);
    padding: 12px 25px;
    font-size: 1em;
    font-family: 'MuseoSansCyrl_1', sans-serif;
    border-bottom: 1px solid rgb(255,255,255);
    background-color: transparent;
}
.user_email{
    width: 100%;
}
.user_mesage{
    resize: none;
}
.submit_user_info{
    background-color: rgb(37,197,204);
}
.form_support .get_popular{
    float: none;
    width: 80%;
    display: block;
    margin: auto;;
}
.user_mesage:focus,
.user_email:focus,
.user_name:focus{
    outline: none;
    border-bottom: 1px solid rgb(255,255,255);
    background-color :rgba(0, 0, 0, 0.05);
}
.component_user_message{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.component_user_message .content{
    background: rgb(255,255,255);
    padding: 1em 1.5em;
    border-radius: 10px;
    font-family: 'MuseoSansCyrl_1', sans-serif;
    color: rgb(38, 38, 38);
    font-size: 120%;
}
.container_page_support .link_nav_panel,
.container_page_support .open_close_list_language:after{
    color: rgb(37,197,204);
}