
.page_id{
    margin: auto;
    position: relative;
}
.container_page_id{
    text-align: center;
    width: 100%;
    background-color: rgb(250,250,250);
    font-family: 'OpenSans-Semibold' ,sans-serif;
    position: absolute;
    height: 100%;
}
.container_page_id .block_content{
    display: inline-block;
    width: 26.3em;
    -webkit-box-shadow: 0px 11px 58px -6px rgb(236, 236, 236);
            box-shadow: 0px 11px 58px -6px rgb(236, 236, 236);
    border-radius: 5px;
    margin-top: 90px;
    padding: 3em 0 4em 0;
    background-color: rgb(255,255,255);
    height: auto;
}
.header_block_content{
    color: rgb(114,114,114);
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    margin-bottom: 1.3em;
}
.order_id{
    color: rgb(63,63,63);
    -webkit-box-shadow: 0px 13px 70px -1px rgb(236, 236, 236);
            box-shadow: 0px 13px 70px -1px rgb(236, 236, 236);
    padding: 1em 0;
    border-radius: 5px;
    font-weight: 400;
    font-size: 1.1em;
    text-align: center;
    width: 80%;
    margin: auto;
}
.page_id .content{
    color: rgb(114,114,114);
    margin: 2em auto;
    line-height: 1.9;
    font-family: 'OpenSans-Semibold' ,sans-serif;
    font-size: 0.9em;
    letter-spacing: -0.5px;
    width: 70%;
    text-align: left;
}
.link_home_page{
    color: rgb(2,196,205);
    padding: 11px 50px;
    border: 2px solid rgb(2,196,205);
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
}