@media(max-width: 1000px){
    .container_page_id .header {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center
    }
}
@media(max-width: 670px){
    .block_content_page_id{
        width: 98%;
        display: block;
        margin: 50px auto;
    }
    .block_content_page_id .content{
        margin: 30px auto;
        width: 90%;
        font-size: 110% !important;
    }
}
@media screen and (max-device-width:480px){
    .container_page_id{
        position: absolute;
        height: 100%;
    }
    .block_content_page_id{
        width: 95%;
        margin: 1em auto;
    }
    .block_content_page_id .content{
        margin-top: 1.5em;
        width: 95%;
        font-size: 1.2em;
        letter-spacing: 1px;
    }
    .order_id{
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        font-weight: 600;
    }
}